.icon-facebook {
  background-image: url("../images/facebook.svg");
}

.icon-instagram {
  background-image: url("../images/instagram.svg");
}

.icon-linkedin {
  background-image: url("../images/linkedin.svg");
}

.icon-twitter {
  background-image: url("../images/twitter.svg");
}

.networks-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.current {
  position: relative;
}
@media screen and (min-width: 768px) {
  .current::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 4px;
    border-radius: 3px;
    background-color: #2196F3;
  }
}

.is-hidden {
  opacity: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  pointer-events: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.style {
  font-family: "Roboto";
}

.all-body {
  padding-top: 60px;
  margin: 0 auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
  background-color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .all-body {
    padding-top: 80px;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

p,
ul {
  margin: 0px;
  padding-left: 0px;
  list-style: none;
}

.link {
  text-decoration: none;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.no-scroll {
  overflow: hidden;
}

.page-header {
  position: fixed;
  z-index: 2;
  top: 0;
  min-height: 60px;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #ECECEC;
}
@media screen and (min-width: 768px) {
  .page-header {
    min-height: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    min-height: 80px;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  color: #2196F3;
}
@media screen and (min-width: 1140px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__accent {
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}
.page-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container.page-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page__list {
  margin-left: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #000000;
}
.page__list .page__element + .page__element {
  margin-left: 50px;
}
@media screen and (max-width: 767px) {
  .page__list {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .page__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.page__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  line-height: 1.14;
  color: #000000;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page__link:hover, .page__link:focus {
  color: #2196F3;
}

.nav-menu {
  position: fixed;
  top: 0;
  z-index: 2;
  padding-top: 48px;
  padding-bottom: 48px;
  margin-left: -1px;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
}
.nav-menu > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  overflow: auto;
}

.menu-open {
  display: block;
  margin-left: auto;
  padding: 0;
  border: none;
  color: #212121;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}
.menu-open:hover, .menu-open:focus {
  color: #2196F3;
}

.icon-menu {
  fill: currentColor;
}

.menu-close {
  position: absolute;
  top: 1.5%;
  right: 2%;
  display: block;
  margin-bottom: 30px;
  border: none;
  color: #212121;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .menu-close {
    display: none;
  }
}
.menu-close:hover, .menu-close:focus {
  color: #2196F3;
}

.icon-cross {
  fill: currentColor;
}

.menu-element {
  font-weight: 600px;
  font-size: 18px;
  line-height: 1.3888888889;
}

.nav-menu-element:not(:last-child) {
  margin-bottom: 32px;
}

.nav-menu__link {
  position: relative;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #000000;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-menu__link:hover, .nav-menu__link:focus {
  color: #2196F3;
}
.nav-menu__link.mob-current {
  color: #2196F3;
}

.nav-menu-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom-contacts {
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #000000;
}

.bottom-contacts__phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196F3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.bottom-contacts__phone:hover, .bottom-contacts__phone:focus {
  color: #2196F3;
}

.bottom-contacts__element {
  margin-top: 32px;
}

.bottom-contacts__email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.bottom-contacts__email:hover, .bottom-contacts__email:focus {
  color: #2196F3;
}

.menu-networks-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
}

.menu-networks-element:not(:first-child) {
  padding-left: 10px;
}
.menu-networks-element:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.menu-networks-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}
.menu-networks-link:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.contacts {
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 50px;
  }
}
@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}

.contacts__email {
  position: relative;
  line-height: 1.14;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__email:hover, .contacts__email:focus {
  color: #2196F3;
}
@media screen and (min-width: 1200px) {
  .contacts__email {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .contacts__email:hover::after, .contacts__email:focus::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.contacts__email-icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: currentColor;
  margin-right: 5px;
}

.contacts__phone {
  line-height: 1.14;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__phone:hover, .contacts__phone:focus {
  color: #2196F3;
}
@media screen and (min-width: 1200px) {
  .contacts__phone {
    margin-left: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .contacts__phone:hover::after, .contacts__phone:focus::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.contacts__phone-icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: currentColor;
}

.main-div {
  margin: 0 auto;
}

.hero {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #2F303A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Header.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Header-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/tabheader.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tabheader.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/tabheader-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tabheader-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-2x.jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media screen and (max-width: 1199px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.61;
  }
}

.hero__button {
  padding: 10px 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  background-color: #2196F3;
  color: #ffffff;
  display: inline-block;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .hero__button {
    padding: 10px 32px;
  }
}

.hero__button:hover, .hero__button:focus {
  font-family: "Roboto";
  font-style: normal;
  background-color: #ffffff;
  color: #2196F3;
  font-size: 16px;
  border-radius: 4px;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
@media screen and (max-width: 479px) {
  .features .features-list__element:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .features .features-list__element:last-child {
    margin-right: 0;
  }
}

.features-list {
  position: relative;
}
@media screen and (min-width: 768px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.features-list__element {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .features-list__element {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features-list__element {
    width: calc((100% - 90px) / 4);
  }
}
.features-list__element .features-list__features-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  border-radius: 4px;
}
@media screen and (max-width: 479px) {
  .features-list__element .features .features-list__element:last-child {
    margin-right: 0;
  }
}
.features-list__element .title-box__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
}
@media screen and (max-width: 1199px) {
  .features-list__element .title-box__title {
    text-align: center;
  }
}
.features-list__element .title-box__p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}
.features-list__element .title-box__p:not(:last-child) {
  margin-bottom: 30px;
}

.section {
  background-color: #ffffff;
  text-align: center;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .section {
    display: none;
  }
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.section-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  list-style: none;
}

.section-list__element .section-list__thumb-actions {
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-list__element:hover .section-list__thumb-actions {
  opacity: 1;
}

.section-list__element .section-list__element:last-child {
  margin-right: 0;
}

.section-list__thumb {
  position: relative;
}
.section-list__thumb:before {
  content: "";
  position: absolute;
  top: 74.5%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 100%;
  height: 75px;
  background-color: rgba(47, 48, 58, 0.8);
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-list__thumb:hover::before {
  opacity: 1;
}

.section-list__thumb-img {
  padding: 0;
}

.section-list__thumb-actions {
  position: absolute;
  top: 83%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
}

.section-list__thumb-p {
  min-width: 205px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 10px;
  color: #ffffff;
}

.command {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F5F4FA;
  color: #212121;
}
@media screen and (max-width: 767px) {
  .command .command-list__element:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1140px) {
  .command {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 479px) {
  .command-list .command-list__element:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .command-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .command-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}

@media screen and (min-width: 768px) {
  .command-list__element {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .command-list__element {
    width: calc((100% - 90px) / 4);
  }
}

.command-list__link {
  color: #212121;
}

.command-list__frame {
  background-color: #ffffff;
  display: inline-block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command-list__frame-box {
  text-align: center;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 16px;
}

.command__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  color: #212121;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .command__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.command-list__frame-worker {
  font-weight: inherit;
  font-size: 16px;
  line-height: 1.18;
  text-decoration: none;
  margin-bottom: 10px;
}

.command-list__frame-p {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  text-decoration: none;
}

.networks-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.networks-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #AFB1B8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks-list__link:hover, .networks-list__link:focus {
  background-color: #2196F3;
  color: #ffffff;
}

.networks-list__icon {
  fill: currentColor;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 480px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 768px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.clients-list__element {
  width: calc((100% - 30px) / 2);
  outline: none;
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .clients-list__element {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients-list__element {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__element {
    width: calc((100% - 150px) / 6);
  }
}

.clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  min-height: 92px;
  color: #AFB1B8;
  background-color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover, .clients-list__link:focus {
  background-color: #ffffff;
  border: 1px solid #2196F3;
  color: #2196F3;
}

.clients-list__icon {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  background-color: #2F303A;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer-claster {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .footer-claster__connect {
    display: block;
  }
}
@media screen and (min-width: 767px) {
  .footer-claster__connect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.footer-claster__logo {
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #2196F3;
}
@media screen and (max-width: 1199px) {
  .footer-claster__logo {
    text-align: center;
    font-size: 24px;
    line-height: 1.19;
  }
}

.footer-claster__logo-accent {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  color: #ffffff;
}
@media screen and (min-width: 1140px) {
  .footer-claster__logo-accent {
    font-size: 26px;
    line-height: 1.19;
  }
}

.footer-claster__info {
  margin-bottom: 60px;
}

.adress__location {
  display: block;
  margin-bottom: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .adress__location {
    text-align: center;
    margin-bottom: 8px;
  }
}

.adress__email {
  display: block;
  margin-bottom: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress__email:hover, .adress__email:focus {
  color: #2196F3;
}
@media screen and (max-width: 1199px) {
  .adress__email {
    margin-bottom: 8px;
    text-align: center;
  }
}

.adress__phone {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress__phone:hover, .adress__phone:focus {
  color: #2196F3;
}
@media screen and (max-width: 1199px) {
  .adress__phone {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .footer-box {
    display: block;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 480px) {
  .footer-box {
    display: block;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 7%;
  }
}

.footer-box__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (max-width: 1199px) {
  .footer-box__title {
    text-align: center;
  }
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
@media screen and (max-width: 479px) and (min-width: 480px) {
  .footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
}

.footer-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list__link:hover, .footer-list__link:focus {
  background-color: #2196F3;
  color: #ffffff;
}

.footer-list__icon {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .footer-form {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-form__input-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (max-width: 1199px) {
  .footer-form__input-title {
    text-align: center;
  }
}

.footer-form__input-email {
  padding: 15px;
  width: 450px;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (max-width: 1199px) {
  .footer-form__input-email {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__input-email {
    width: 350px;
  }
}

.footer-form__input-email::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input-email::-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input-email:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input-email::-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input-email::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-form__button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: #2196F3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.footer-form__button::after {
  content: "";
  margin-left: 10px;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../images/icon-send.svg);
  color: #2196F3;
}
@media screen and (min-width: 1200px) {
  .footer-form__button {
    margin-left: 12px;
  }
}

.button-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .button-section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1140px) {
  .button-section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.button-section__element {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-section__element:hover, .button-section__element:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-section {
  padding-top: 94px;
  padding-bottom: 64px;
}

.port-button {
  padding: 6px 22px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: #F5F4FA;
  color: #212121;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.port-button:hover, .port-button:focus, .port-button:active {
  background-color: #2196F3;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .project-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
.project-list__element {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #EEEEEE;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-list__element:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (max-width: 767px) {
  .project-list__element {
    width: 100%;
  }
  .project-list__element:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .project-list__element {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1140px) {
  .project-list__element {
    width: 370px;
  }
}

.project-list__box {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 24px;
}

.project-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #000000;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project-list__p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.product {
  margin: auto;
  overflow: hidden;
}
@media screen and (min-width: 480px) {
  .product {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .product {
    width: 354px;
  }
}
@media screen and (min-width: 1140px) {
  .product {
    width: 370px;
  }
}

.product:hover .product-actions {
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product:hover .product-overlay {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-list__thumb {
  position: relative;
  overflow: hidden;
}

.project-list__thumb-caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 35px;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list__element:hover .project-list__thumb-caption {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.backdrop {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-perspective: 300px;
          perspective: 300px;
}

.is-hidden {
  opacity: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0) rotate(360deg);
          transform: translate(-50%, -50%) scale(0) rotate(360deg);
}

.modal {
  position: absolute;
  width: 528px;
  top: 50%;
  left: 50%;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%) scale(1) rotate(0);
          transform: translate(-50%, -50%) scale(1) rotate(0);
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 5px;
  overflow: auto;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
    min-height: 609px;
  }
}

.modal__close-button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal__close-button:hover, .modal__close-button:focus {
  background-color: #ffffff;
  color: #2196F3;
}

.modal__close-icon {
  fill: currentColor;
}

.modal__form-title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (max-width: 1199px) {
  .modal__form-title {
    line-height: 1.15;
  }
}

.modal__form {
  width: 100%;
}

.modal__form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__form-field input::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-field input::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-field input:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-field input::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-field input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__form-text {
  padding-left: 42px;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-text:focus {
  border: 1px solid #2196F3;
}

.modal__form-text:not(:focus):not(:-moz-placeholder-shown):valid {
  background-color: rgba(10, 255, 112, 0.521);
}

.modal__form-text:not(:focus):not(:-ms-input-placeholder):valid {
  background-color: rgba(10, 255, 112, 0.521);
}

.modal__form-text:not(:focus):not(:placeholder-shown):valid {
  background-color: rgba(10, 255, 112, 0.521);
}

.modal__form-text:not(:focus):not(:-moz-placeholder-shown):invalid {
  background-color: rgba(255, 0, 0, 0.521);
}

.modal__form-text:not(:focus):not(:-ms-input-placeholder):invalid {
  background-color: rgba(255, 0, 0, 0.521);
}

.modal__form-text:not(:focus):not(:placeholder-shown):invalid {
  background-color: rgba(255, 0, 0, 0.521);
}

.modal__input-icon {
  position: absolute;
  top: 55%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.modal__form-text:focus ~ .modal__input-icon {
  fill: #2196F3;
}

.modal__form-text:focus {
  border: 1px solid #2196F3;
}

.modal__form-comment {
  padding: 15px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(34, 34, 34, 0.5);
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-comment:focus {
  border: 1px solid #2196F3;
}
.modal__form-comment::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__form-comment::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__form-comment:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__form-comment::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__form-comment::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
@media screen and (max-width: 1199px) {
  .modal__form-comment::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 1.16;
  }
  .modal__form-comment::-moz-placeholder {
    font-size: 12px;
    line-height: 1.16;
  }
  .modal__form-comment:-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.16;
  }
  .modal__form-comment::-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.16;
  }
  .modal__form-comment::placeholder {
    font-size: 12px;
    line-height: 1.16;
  }
}

.form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 20px;
}

.modal__form-check {
  position: relative;
  cursor: pointer;
  padding-left: 1.4em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (max-width: 1199px) {
  .modal__form-check {
    font-size: 12px;
    line-height: 1.16;
    padding-left: 1.6em;
  }
}

.modal__checkbox {
  position: absolute;
}

.modal__checkmark {
  position: absolute;
  margin-top: 3px;
  margin-left: -1.4em;
  width: 16px;
  height: 15px;
  background-image: url(../images/check-off.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.modal__checkbox:checked + .modal__checkmark {
  -webkit-transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__checkbox:focus:checked + .modal__checkmark {
  background-image: url(../images/check-on.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 1199px) {
  .modal__checkmark {
    margin-left: -1.6em;
  }
}

.modal__check-terms {
  color: #2196F3;
}

.modal__submit-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 10px 80px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: #2196F3;
  color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-button:hover, .modal__form-button:active, .modal__form-button:focus {
  background-color: #2196F3;
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */