.features {

    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $hero__button;
    
    .features-list__element:not(:last-child) {
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1140px) {
        padding-top: 94px;
        padding-bottom: 94px;

        .features-list__element:last-child {
            margin-right: 0;
        }
    }

}
.features-list {
    position: relative;

    @media screen and (min-width: 1140px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
    }
  }
  
  .features-list__element {
    width: 100%;
  }
  
  .features-list__features-box {


    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;
  }
  
  .features .features-list__element:last-child {
    margin-right: 0;
  }
  
  .title-box__title {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 10px;
    
    @media screen and (min-width: 1140px) {
        text-align: none;
    }
  }
  
  .title-box__p {

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
    &:not(:last-child) {
        margin-bottom: 30px;
    }
  }