.features {

    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $hero__button;
    
    @media screen and (max-width: 479px) {
        .features-list__element:not(:last-child) {
        margin-bottom: 30px;
    }
  }
    @include tablet {
      margin-bottom: 0;
    }

    @include desktop {
        padding-top: 94px;
        padding-bottom: 94px;

        .features-list__element:last-child {
            margin-right: 0;
        }
    }

}
.features-list {
    position: relative;

    @include tablet {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }

    @include desktop {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
  }
  
  .features-list__element {
    width: 100%;
    @include tablet {
      width: calc((100% - 2 * 15px) / 2);
    }
    @include desktop {
      width: calc((100% - 6 * 15px) / 4);
  }
  
  .features-list__features-box {


    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;
  }
  
  .features .features-list__element:last-child {
    @media screen and (max-width: 479px) {
    margin-right: 0;
    }
  }
  
  .title-box__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 10px;
    
    @media screen and (max-width: 1199px) {
      text-align: center;
    }
  }
  
  .title-box__p {

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
    &:not(:last-child) {
        margin-bottom: 30px;
    }
  }
}