html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;

    &::before {
        box-sizing: inherit;
    }

    &::after {
        box-sizing: inherit;
    }
}

.style {
    font-family: 'Roboto';
}

.all-body {
    padding-top: 60px;
    margin: 0 auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.03em;
    background-color: $hero__button;

    @include desktop {
        padding-top: 80px;
    }

}
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @include mobile {
        width: 480px;
    }
    @include tablet {
        width: 768px;
    }
    @include desktop {
        width: 1200px;
    }


}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}

p,
ul {
    margin: 0px;
    padding-left: 0px;
    list-style: none;
}

.link {
    text-decoration: none;
}
a {
    text-decoration: none;
}
address {
    font-style: normal;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.no-scroll {
    overflow: hidden;
}
