.footer-claster__logo {
    display: block;
    margin-bottom: 20px;

    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.19;

    text-decoration: none;
    color: $accent-color;
    
    @media screen and (min-width: 1140px) {
    font-size: 26px;
    line-height: 1.19;
    }
}

.footer-claster__logo-accent {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;

    color: $hero__button;

    @media screen and (min-width: 1140px) {
    font-size: 26px;
    line-height: 1.19;
    }
}