.contacts {
    display: none;
    @media screen and (min-width: 1140px) {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: $title-text-color;
    text-decoration: none;
    list-style: none
    }
}
.contacts__email {
    position: relative;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;

    line-height: 1.14;
    text-decoration: none;
    color: $portfolio-project-list__p;
    transition: color 250ms $cubic-bezier;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 4px;
        background-color: $accent-color;
        border-radius: 2px;
        transform: scaleX(0);
        transition: transform 250ms $cubic-bezier;

    }

    &:hover,
    &:focus {
        color: $accent-color;

        &::after {
            transform: scaleX(1);
        }

    }

}
.contacts__email-icon {
    align-items: center;
    fill: currentColor;
    margin-right: 5px;

}
.contacts__phone {
    position: relative;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;

    line-height: 1.14;
    text-decoration: none;
    color: $portfolio-project-list__p;
    margin-left: 50px;
    transition: color 250ms $cubic-bezier;


    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 4px;
        background-color: $accent-color;
        border-radius: 2px;
        transform: scaleX(0);
        transition: transform 250ms $cubic-bezier;

    }

    &:hover,
    &:focus {
        color: $accent-color;

        &::after {
            transform: scaleX(1);
        }
    }

}


.contacts__phone-icon {
    align-items: center;
    fill: currentColor;

}