@mixin bordered() {
    border: 1px solid $accent-color;
}
@mixin centeredFlex($type: center) {
    display: flex;
    align-items: center;
    justify-content: $type;
}


$icons: 'facebook', 'instagram', 'linkedin', 'twitter';

@each $iconName in $icons {
    .icon-#{$iconName} {
        background-image: url("../images/#{$iconName}.svg");
    }
}

@mixin generateIcons($iconList) {
    @each $iconName in $iconList {
    .icon-#{$iconName} {
        background-image: url("../images/#{$iconName}.svg");
        }
    }
}
@mixin mobile {
    @media screen and (min-width: 480px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}
@mixin desktop {
    @media screen and (min-width: 1200px) {
        @content;
    }
}
@mixin retina {
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        @content;
    }
}